#header{
    width: 80%;
    height:150px ;
    background-color: white;
    float: right;
    text-align: right;
}
#conteudo-left{
    width: 20%; 
    height:900px;
    background-color:#A9A9A9;
    float: left;
    border: 3px solid #000;
}

#pasta{
    width: 79%;
    height:900px;
    background-color:blueviolet;
    float: right;
    position: static;
    border: 3px solid #000;
}

#resto{
    width:100% ;
    height:50%;
    background-color:darkgreen ;
    float: right;
}

#linha-config{
    text-align: right;

}

#inicial{
    text-align: center;
}
#Iframe{
    display: none;
}